body {
    background: none repeat scroll 0 0 #9ea8ad;
    border: 0 none;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    height:100%;
}

#header_wrapper {
    background: url("/images/template_header_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 70px;
    margin: 0 auto;
    width: 100%;
    padding-top:13px;
}

#header { 
   /* background: url("/images/blpilogo.jpg") no-repeat 0 center transparent; */
    background-size: contain;
    height: 67px;
    margin: 0 auto 10px 10%;
    width: 90%;
}

#header #search_section {
    float: right;
    margin-right: 1%;
    margin-top: 37px;
}

#search_section form {
    margin: 0;
    padding: 0;
    min-width:300px;
}

#searchfield {
    background: none repeat scroll 0 0 white;
    border: 1px solid #b5b9b1;
    color: #000000;
    font-size: 11px;
    font-variant: normal;
    height: 12px;
    line-height: normal;
    padding: 5px;
    width: 150px;
}

#searchbutton {
    background: url("/images/search_button.png") repeat scroll 0 0 transparent;
    background-size: contain;
    border: medium none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 7px;
    padding: 0 16px;
    text-align: center;
    vertical-align: bottom;
    white-space: pre;
    width: 74px;
}
#content {
		padding: 1%;
    margin: 0 auto;
    width: 95%;
    min-height:530px;
    background: url("/images/textbox2bg.gif") repeat-x scroll 0 0 transparent;
    
}

#menu {
    float: left;
    padding: 1%;
    width: 30%;
    height:auto;
}
#page {
    float: right;
    padding: 1%;
    width: 65%;
    height:auto;
}
