body {
    background: url("/images/gen-bg.jpg") repeat scroll 0 0 #EEEEEE;
    margin: 0;
    padding: 0;
}

#header_wrapper {
    background: url("/images/template_header_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 70px;
    margin: 0 auto;
    width: 100%;
    padding-top:13px;
}

#header { 
    /* background: url("/images/blpilogo.jpg") no-repeat 0 center transparent; */
    background-size: contain;
    height: 67px;
    margin: 0 auto 10px 10%;
    width: 90%;
}

#header #search_section {
    float: right;
    margin-right: 1%;
    margin-top: 37px;
}

#search_section form {
    margin: 0;
    padding: 0;
    min-width:300px;
}

#searchfield {
    background: none repeat scroll 0 0 white;
    border: 1px solid #b5b9b1;
    color: #000000;
    font-size: 11px;
    font-variant: normal;
    height: 12px;
    line-height: normal;
    padding: 5px;
    width: 150px;
}

#searchbutton {
    background: url("/images/search_button.png") repeat scroll 0 0 transparent;
    background-size: contain;
    border: medium none;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 7px;
    padding: 0 16px;
    text-align: center;
    vertical-align: bottom;
    white-space: pre;
    width: 74px;
}
#content {
		padding: 1%;
		height: auto;
		width: auto;
}

#menu-sub {
	float : left;
	padding-right:20px;
	padding-bottom:20px;
	width:auto;
	height:auto;
}
#page-sub {
  float : left;
  width:auto;
  height:auto;
  
}

#menu-sub .ui-jqgrid tr.jqgrow td { border-right: 0px none; border-bottom: 0px none; font-size: 13; font-family: Verdana, Arial, Helvetica, sans-serif;}
