table#nav_menu
#nav_pager
script(type='text/javascript')
  $(document).ready(function () {
    'use strict';
    var grid = jQuery("#nav_menu");
    grid.jqGrid({
      url: "/grid/menu/setting/v00s01",
      datatype: "json",
      mtype:'POST',
      sortname: 'index',
      width:250,
      height: 450,
      loadui: "disable",
      colNames: [" ","url"],
      colModel: [
          {name: "elementName", width:250, resizable: false, sortable:false},
        {name: "url",width:1,hidden:true}
      ],
      treeGrid: true,
      treeGridModel: "adjacency",
      caption: "Navigation Menu",
      ExpandColumn: "expanded",
      pager: '#nav_pager',
      treeIcons: {leaf:'ui-icon-document-b'},
      jsonReader: {
        repeatitems: false,
        root: "rows"
      },
      onSelectRow: function(rowid) {
        var treedata = $(this).jqGrid('getRowData',rowid);
        if(treedata.isLeaf=="true") {
          if(treedata.url == '/') window.location.href= treedata.url;
          $("#page-sub").html("");
          $("#page-sub").load(treedata.url);
        }
      }
    });
    
    $("#nav_menu").jqGrid('gridResize', { minWidth: 50, minHeight: 500, maxHeight:800, maxWidth:250 });
  });