doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header_wrapper
      #header
        #search_section
          form(method='GET', action='#')
            input#searchfield(type='text', size=10, name='q')
            input#searchbutton(type='submit', size=10, title='Search', value='', name='Search')
      #content
        #menu
        #page