| <script type='text/javascript'>
|  $(document).ready(function () {
|    'use strict';
|    function ac(elem, url) {
|     setTimeout(function () {
|         $(elem).autocomplete({
|             source: url+'?param='+ $(elem).attr('id'),
|             minLength: 2,
|             select: function (event, ui) {
|                 $(elem).val(ui.item.value);
|                 $(elem).trigger('change');
|             }
|         });
|     }, 50);
|    }
|    var _wac = function(elem){ac(elem,'/api/ac');};
|    $("#grid_table").jqGrid(!{go.replace(/"_wac"/g,"_wac")});
|    $("#grid_table").jqGrid('gridResize', { minWidth: 200, minHeight: 500, maxHeight:800, maxWidth:1150 });
|    $("#grid_table").jqGrid('setFrozenColumns');
|    $("#grid_table").jqGrid('navGrid','#grid_pager',{edit:true,add:true,del:true},{width:'auto',height:'auto'},{width:'auto',height:'auto'});
|  });
| </script>
#page_holder
table#grid_table
#grid_pager