extends layout

block content-page
  #page_holder
    table#grid_table
    #grid_pager
    script(type='text/javascript')
      $(document).ready(function () {
        'use strict';
        $("#grid_table").jqGrid({ 
          url: 'http://api.sprout.ph/grid/menu',
          datatype: "json", 
          mtype:'POST',
          sortable:true,
          sortname: 'id',
          rowNum:100,
          recordpos: 'left', 
          height: 450, 
          width: 'auto',
          jsonReader: {
            repeatitems: false,
            root: "rows"
          },
          colNames:['ID','Menu Name', 'Is Expanded?', 'Level','Is Leaf?','Is Loaded?','Index','Parent','Url'], 
          colModel:[ 
                   {name:'id',index:'id', width:120, hidden:true, editable: true}, 
                   {name:'elementName',index:'elementName', width:150, editable: true},
                   {name:'expanded',index:'expanded', width:80, editable: true},
                   {name:'level',index:'level', width:80, editable: true},
                   {name:'isLeaf',index:'isLeaf', width:80, editable: true},
                   {name:'loaded',index:'loaded', width:80, editable: true},
                   {name:'index',index:'index', width:80, editable: true},
                   {name:'parent',index:'parent', width:80, editable: true},
                   {name:'url',index:'url', width:80, editable: true}
                   ], 
          multiselect: true,  
          gridview: true, 
          shrinkToFit:false,
          rownumbers: true,
          caption: "Manipulating Array Data",
          pager: '#grid_pager',
        });
        $("#grid_table").jqGrid('gridResize', { minWidth: 200, minHeight: 500, maxHeight:800, maxWidth:1150 });
        $("#grid_table").jqGrid('setFrozenColumns');
        $("#grid_table").jqGrid('navGrid','#grid_pager',{edit:true,add:true,del:true},{width:'auto',height:'auto'},{width:'auto',height:'auto'});
      });
